In [1]:
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score

In [2]:
matplotlib.rcParams['figure.figsize'] = [20, 10]

In [9]:
data = pd.read_csv("data/titanic/train.csv", index_col="PassengerId")

In [10]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
X = data.drop("Survived", axis=1)
y = data["Survived"]

In [15]:
X_train_dev, X_test, y_train_dev, y_test = train_test_split(X, y, random_state=666, test_size=0.2)
X_train, X_dev, y_train, y_dev = train_test_split(X_train_dev, y_train_dev, random_state=667, test_size=0.25)

## Model based on sex

In [20]:
X_train.groupby("Sex")["Name"].count()

Sex
female    196
male      338
Name: Name, dtype: int64

In [21]:
def label_binary_class(column):
    classes = column.unique()
    return classes

label_binary_class(X_train["Sex"])

array(['male', 'female'], dtype=object)

In [22]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit([1, 2, 2, 6])

le.classes_

le.transform([1, 1, 2, 6]) 

le.inverse_transform([0, 0, 1, 2])

array([1, 1, 2, 6])

In [24]:
le.transform([4])

ValueError: y contains previously unseen labels: [4]