Data from <https://www.kaggle.com/ronitf/heart-disease-uci>

```
pip install pymongo
```

In [21]:
import pandas as pd

heart_df = pd.read_csv("data/heart.csv")
heart_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## To json

In [27]:
heart_json = heart_df.to_json(orient="records")

## To dict

In [38]:
import json
heart_dict = json.loads(heart_json)

## Database

In [39]:
from pymongo import MongoClient
client = MongoClient()
db = client.heart_uci
patients = db.patients

In [40]:
patients.insert_many(hearts_dict)

In [41]:
patients.find_one({"age": 41})

{'_id': ObjectId('5c87dd87e4146a3fbd307ccd'),
 'age': 41,
 'sex': 0,
 'cp': 1,
 'trestbps': 130,
 'chol': 204,
 'fbs': 0,
 'restecg': 0,
 'thalach': 172,
 'exang': 0,
 'oldpeak': 1.4,
 'slope': 2,
 'ca': 0,
 'thal': 2,
 'target': 1}

In [46]:
for patient in patients.find({"age": 41}):
    print(f"{patient['chol']}: {patient['target']}")

204: 1
198: 1
203: 1
250: 1
214: 1
268: 1
235: 1
306: 1
157: 1
172: 0

In [54]:
all_patients = patients.find({})
patients_df = pd.DataFrame(list(all_patients))
patients_df.head()

,_id,age,ca,chol,cp,exang,fbs,oldpeak,restecg,sex,slope,target,thal,thalach,trestbps
0,5c87dd87e4146a3fbd307ccb,63,0,233,3,0,1,2.3,0,1,0,1,1,150,145
1,5c87dd87e4146a3fbd307ccc,37,0,250,2,0,0,3.5,1,1,0,1,2,187,130
2,5c87dd87e4146a3fbd307ccd,41,0,204,1,0,0,1.4,0,0,2,1,2,172,130
3,5c87dd87e4146a3fbd307cce,56,0,236,1,0,0,0.8,1,1,2,1,2,178,120
4,5c87dd87e4146a3fbd307ccf,57,0,354,0,1,0,0.6,1,0,2,1,2,163,120